
.ipynb_checkpoints/10_Time_Series_Classification_and_Regression_with_MiniRocket.ipynb-checkpoint.ipynb

.ipynb_checkpoints/RocketSample-checkpoint.ipynb

.ipynb_checkpoints/Thesis Proyect-checkpoint.ipynb

.ipynb_checkpoints/v1-checkpoint.ipynb

full-sample.csv
